services.names=mediaServer
secret.key=NpapHelGNRvAWEc0XGL0ESMY1MAWGOOD2FL3NOS4ANA5ASHRAF6WANA7MABDOON9YA10TEFA11YDJI83rdo5yJp1sxAS

health.endpoint=/check

server.ip=localhost
server.port=3000

hadoop.ip=localhost
hadoop.port=9000
hadoop.namenode.port=50070
hadoop.namenode.ip=localhost
hadoop.username=hadoopuser